[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
coderedcms = "==0.17.0"
django_sendmail_backend = "==0.1.2"
django-sass = "==1.0.0"
django-environ = "==0.4.5"
psycopg2-binary = "==2.8.4"
django-redis = "==4.11.0"

[dev-packages]
mypy = "*"
autopep8 = "*"
flake8 = "*"
rope = "*"
ptvsd = "*"
pytest = "*"

[requires]
python_version = "3.8"
